root = true

[*]
# 文档编码类型
charset = utf-8
# 换行符，lf、cr 或者 crlf（主要是解决 window 和 mac 或 unix 的不同）
end_of_line = lf
# 缩进风格，可以是 tab 或者 space，对应 hard tabs 和 soft tabs
indent_style = space
# 缩进的宽度，即列数，必须是整数
indent_size = 2
# 设为 true 表明使文件以一个空白行结尾
insert_final_newline = true
# 设为 true 表示会除去换行行首的任意空白字符
trim_trailing_whitespace = true

# 对后缀名为 md 的文件生效
[*.md]
trim_trailing_whitespace = false
